* {
  font-family: "FiraCode-Regular", sans-serif;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:is(a,
  li, ul) {
  list-style: none;
  text-decoration: none;
  color: #000;
}

:is(::before,
  ::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #c778dd;
  color: #fcfcfd;
}

:is(ul,
  div,
  p,
  figure,
  article,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}